In [1]:
student = {
    'name': 'anthony',
    'age': 30,
    'course': 'data science',
    'is_student': True
}

In [2]:
student

{'name': 'anthony', 'age': 30, 'course': 'data science', 'is_student': True}

In [3]:
type(student)

dict

In [4]:
student['course']

'data science'

In [ ]:
student['age'] = 35  # add element into the student data

In [6]:
student

{'name': 'anthony', 'age': 35, 'course': 'data science', 'is_student': True}

In [ ]:
student.pop('is_student')  # remove element in student data

True

In [9]:
student

{'name': 'anthony', 'age': 35, 'course': 'data science'}

In [10]:
students = {
    'John': {'age': 40, 'course': 'CSS'},
    'Keleb': {'age': 34, 'course': 'HTML'}
}

In [11]:
students

{'John': {'age': 40, 'course': 'CSS'}, 'Keleb': {'age': 34, 'course': 'HTML'}}

In [12]:
students['Keleb']['course']

'HTML'

In [13]:
students['John']['course'] = 'Javascript'

In [14]:
students

{'John': {'age': 40, 'course': 'Javascript'},
 'Keleb': {'age': 34, 'course': 'HTML'}}

In [15]:
add_student = {'age': 32, 'course': 'Node'}
students['Emmanuel'] = add_student

In [16]:
students

{'John': {'age': 40, 'course': 'Javascript'},
 'Keleb': {'age': 34, 'course': 'HTML'},
 'Emmanuel': {'age': 32, 'course': 'Node'}}