##### different between the list and tuple is that you can add and remove element in the list while you cannot do it in tuple

In [1]:
foods = ['rice', 'beans', 'casava', 'yam']

In [2]:
vagetable = ['spinach', 'Ugu', 'water leaf', 'bitter leaf']

In [3]:
all_food = [foods, vagetable]

In [4]:
all_food

[['rice', 'beans', 'casava', 'yam'],
 ['spinach', 'Ugu', 'water leaf', 'bitter leaf']]

In [5]:
vagetable[1:3]

['Ugu', 'water leaf']

In [6]:
foods[-1]

'yam'

In [7]:
type(all_food)

list

In [8]:
vagetable.append('mellon') # this add element into the created list variable which is vagetable

In [9]:
vagetable

['spinach', 'Ugu', 'water leaf', 'bitter leaf', 'mellon']

In [ ]:
vagetable.pop(-1) # this will remove element from the list according the the pass index

'mellon'

In [11]:
vagetable

['spinach', 'Ugu', 'water leaf', 'bitter leaf']

In [ ]:
squares = []
for num in range(1,6):
    squares.append(num ** 2)  ## this append or add the lop into the squares, also all the lop number will be raise to power 2

In [13]:
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
create_list_comprehension = [num ** 2 for num in range(6)]  # this code is the same code above but in more simpler and easy way

In [15]:
print(create_list_comprehension)

[0, 1, 4, 9, 16, 25]

In [16]:
matrix_list = [[1,2,3,], [4,5,6], [7,8,9]]

In [17]:
matrix_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [18]:
len(matrix_list)

3

In [19]:
matrix_list[-1]

[7, 8, 9]

In [20]:
matrix_list[1][2]

6

In [21]:
first = ['one', 'two', 'three']
second = ['four', 'five', 'six']
third = ['seven', 'eight', 'nine']

In [22]:
matrix_list2 = [first, second, third]

In [23]:
matrix_list2

[['one', 'two', 'three'], ['four', 'five', 'six'], ['seven', 'eight', 'nine']]

In [24]:
matrix_list2[-1][-3]

'seven'

In [25]:
matrix_list2[0][2] = '3'

In [26]:
matrix_list2

[['one', 'two', '3'], ['four', 'five', 'six'], ['seven', 'eight', 'nine']]

In [27]:
forth = [10,11,12]
matrix_list2.append(forth)

In [28]:
matrix_list2

[['one', 'two', '3'],
 ['four', 'five', 'six'],
 ['seven', 'eight', 'nine'],
 [10, 11, 12]]

In [29]:
matrix_list2[-1][-1] = '10'
matrix_list2[-1][-2] = '11'
matrix_list2[-1][-3] = '12'

In [30]:
matrix_list2

[['one', 'two', '3'],
 ['four', 'five', 'six'],
 ['seven', 'eight', 'nine'],
 ['12', '11', '10']]

In [31]:
dictionaryInlist = [{'John': {'age': 40, 'course': 'Javascript'},
 'Keleb': {'age': 34, 'course': 'HTML'},
 'Emmanuel': {'age': 32, 'course': 'Node'}}]

In [32]:
dictionaryInlist

[{'John': {'age': 40, 'course': 'Javascript'},
  'Keleb': {'age': 34, 'course': 'HTML'},
  'Emmanuel': {'age': 32, 'course': 'Node'}}]

In [33]:
type(dictionaryInlist)

list

In [34]:
dictionaryInlist[0]

{'John': {'age': 40, 'course': 'Javascript'},
 'Keleb': {'age': 34, 'course': 'HTML'},
 'Emmanuel': {'age': 32, 'course': 'Node'}}

In [36]:
type(dictionaryInlist[0])

dict

In [37]:
dictionaryInlist[0]['Keleb']['course']

'HTML'

In [40]:
dictionaryInlist2 = [[{'John': {'age': 40, 'course': 'Javascript'},
 'Keleb': {'age': 34, 'course': 'HTML'},
 'Emmanuel': {'age': 32, 'course': 'Node'}}
], [{'Peter': {'age': 20, 'course': 'R'},
 'Keleb': {'age': 64, 'course': 'Python'},
 'Tone': {'age': 33, 'course': 'C#'}}]]

In [41]:
dictionaryInlist2

[[{'John': {'age': 40, 'course': 'Javascript'},
   'Keleb': {'age': 34, 'course': 'HTML'},
   'Emmanuel': {'age': 32, 'course': 'Node'}}],
 [{'Peter': {'age': 20, 'course': 'R'},
   'Keleb': {'age': 64, 'course': 'Python'},
   'Tone': {'age': 33, 'course': 'C#'}}]]

In [42]:
anotherList = [{'Izu': {'age': 47, 'course': 'SQL'},
 'Mike': {'age': 31, 'course': 'CSS'},
 'Okey': {'age': 26, 'course': 'Java'}}]
dictionaryInlist2.append(anotherList)

In [43]:
dictionaryInlist2

[[{'John': {'age': 40, 'course': 'Javascript'},
   'Keleb': {'age': 34, 'course': 'HTML'},
   'Emmanuel': {'age': 32, 'course': 'Node'}}],
 [{'Peter': {'age': 20, 'course': 'R'},
   'Keleb': {'age': 64, 'course': 'Python'},
   'Tone': {'age': 33, 'course': 'C#'}}],
 [{'Izu': {'age': 47, 'course': 'SQL'},
   'Mike': {'age': 31, 'course': 'CSS'},
   'Okey': {'age': 26, 'course': 'Java'}}]]

In [45]:
type(dictionaryInlist2[1])

list

In [46]:
dictionaryInlist2[1][0]['Tone']['age']

33