To install pandas inside the terminal => pip3 install pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

pandas series

In [3]:
pd_series = pd.Series([10,20,30,40,50,60,70], index=['a','b','c','d','e','f','g'])   # sytax of pandas series

In [5]:
pd_series

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [6]:
type(pd_series)

pandas.core.series.Series

In [7]:
pd_series['c']

30

In [ ]:
pd_series['a':'d']  # printing the series between a to d

a    10
b    20
c    30
d    40
dtype: int64

In [9]:
pd_series + 1   # using arithmatics to series

a    11
b    21
c    31
d    41
e    51
f    61
g    71
dtype: int64

In [10]:
pd_series * 1   # using arithmatics to series

a    10
b    20
c    30
d    40
e    50
f    60
g    70
dtype: int64

In [11]:
pd_series / 2   # using arithmatics to series

a     5.0
b    10.0
c    15.0
d    20.0
e    25.0
f    30.0
g    35.0
dtype: float64

In [12]:
pd_series.dtype

dtype('int64')

In [13]:
type(pd_series['a'])

numpy.int64

In [14]:
pd_series.size

7

In [15]:
pd_series.shape

(7,)

In [21]:
pd_series.head()  # this will give the first 5 of the series

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [22]:
pd_series.head(2)  #  you can determine the amount need to print from the top by passing it inside the bracket

a    10
b    20
dtype: int64

In [23]:
pd_series.tail()   # this give the last 5 of the series

c    30
d    40
e    50
f    60
g    70
dtype: int64

In [24]:
pd_series.tail(4)   # you can determine the amount need to print from the top by passing it inside the bracket

d    40
e    50
f    60
g    70
dtype: int64

In [27]:
pd_series.describe()  # this give many info of the series as seen, like mininmum, mean e.t.c

count     7.000000
mean     40.000000
std      21.602469
min      10.000000
25%      25.000000
50%      40.000000
75%      55.000000
max      70.000000
dtype: float64

In [28]:
pd_series.sort_values(ascending=False)  # to make the series appear in discending order

g    70
f    60
e    50
d    40
c    30
b    20
a    10
dtype: int64